.header__container-logo{
    width: 417px ;
    height: 158px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.header__logo{
    width: 250px;
    height: 63px;
    margin-left: 50px;
    margin-right: 50px;
}